[2021-04-24 23:33] cabustos commented on #195
Yes, if this is the case on iPhone 6 it does not recognize the pdf417 code, iOS 14

[2021-04-24 23:35] AmolGangadhare commented on #195
Thanks for confirming, please allow me a little time to analyze this.

Gracias por confirmar, permítame un poco de tiempo para analizar esto.

[2021-04-25 00:05] AmolGangadhare commented on #19
Closing this issue due to no activity.

[2021-04-25 00:05] #19 closed

[2021-04-25 00:08] AmolGangadhare commented on #22
Closing this issue due to no activity and the issue not aligned with plugin roadmap.

[2021-04-25 00:08] #22 closed

[2021-04-25 00:09] AmolGangadhare commented on #39
Thanks for the feature request.

Can you help with the localized strings that I can add to the native code?

[2021-04-25 00:11] AmolGangadhare commented on #88
Please check with the latest V 2.0.0

[2021-04-25 00:13] AmolGangadhare commented on #94
Thanks for using the plugin.

The ML Kit migration is under evaluation, after which the warning won't be flashing anymore.

Closing this issue as there is already a feature request for ML Kit migration.

[2021-04-25 00:13] #94 closed

[2021-04-25 00:15] AmolGangadhare commented on #105
Closing this as there is no response from the user.

Feel free to open a new issue if you face any unexpected.

[2021-04-25 00:15] #105 closed

[2021-04-25 00:16] AmolGangadhare commented on #104
Closing this due to no activity.

Feel free to open a new issue if any issue with the plugin.

[2021-04-25 00:16] #104 closed

[2021-04-25 00:17] AmolGangadhare commented on #95
Please upgrade to the latest Flutter version and V 2.0.0 for the plugin.

[2021-04-25 00:18] AmolGangadhare commented on #95
Closing this due to no response from the user.

[2021-04-25 00:18] #95 closed

[2021-04-25 00:20] AmolGangadhare commented on #68
Is the issue persists with V 2.0.0?

please acknowledge

[2021-04-25 00:27] AmolGangadhare commented on #113
The continuous scan will scan the barcode until the user press cancel. You need to make changes to the native part to achieve this requirement.

You can always fork the repo and play around.

Closing this issue for now, feel free to open a new issue if any problem faced in the plugin.

[2021-04-25 00:27] #113 closed

[2021-04-25 00:28] AmolGangadhare commented on #118
The potential fix has been made in V 2.0.0,

Closing this due to no activity.

[2021-04-25 00:28] #118 closed

[2021-04-25 00:30] AmolGangadhare commented on #69
The issue has been fixed in V 2.0.0.

Closing this as of now, feel free to open a new issue.

[2021-04-25 00:30] #69 closed

[2021-04-25 00:31] AmolGangadhare commented on #139
Closing this due to no activity, feel free to open a new issue.

[2021-04-25 00:31] #139 closed

[2021-04-25 00:32] AmolGangadhare commented on #122
With Flutter 2.0 and flutter_barcode_scanner : 2.0.0 this wont be there.

Closing this now, feel free to open a new issue.

[2021-04-25 00:32] #122 closed

[2021-04-25 00:35] AmolGangadhare commented on #147
1. Regarding -1 This can be handled in dart code after the barcode is received.
2. For android crashes, please check with V 2.0.0
3. The "F...h" issue has been resolved in V 2.0.0

Closing this as the issues has been addressed in the latest release.

Feel free to open a new issue.

[2021-04-25 00:35] #147 closed

[2021-04-25 00:36] AmolGangadhare commented on #137
Closing this issue now as the fix has been made. Please refer to the latest V 2.0.0

[2021-04-25 00:36] #137 closed

[2021-04-25 00:38] AmolGangadhare commented on #151
Sorry for the delayed response.

The potential fix has been made in V 2.0.0, please refer to this now. Also please acknowledge that this resolves the issue for you.

[2021-04-25 00:41] AmolGangadhare commented on #148
Please check with the latest V 2.0.0 release

[2021-04-25 00:43] AmolGangadhare commented on #155
Scanning QR/Barcode from file isn't supported.

Closing this as of now, feel free to open a new issue if any problem faced with the plugin.

[2021-04-25 00:43] #155 closed

[2021-04-25 00:50] AmolGangadhare commented on #120
Please check with the latest V 2.0.0 if the issue still persists?

[2021-04-25 00:51] AmolGangadhare commented on #152
I was not able to reproduce this. Is the issue still there ?

[2021-04-25 00:52] AmolGangadhare commented on #188
The issue has been fixed with the latest release V 2.0.0.

Closing this now, feel free to open new issue

[2021-04-25 00:52] #188 closed

[2021-04-25 00:54] AmolGangadhare commented on #150
@zacheryson
Is the issue still persists for you?

[2021-04-25 00:59] AmolGangadhare commented on #124
Closing this issue as there is already an ML Kit migration-related feature request.

[2021-04-25 00:59] #124 closed

[2021-04-25 01:03] AmolGangadhare commented on #108
I am not able to reproduce this issue, please check with the latest V 2.0.0 which comes with a bumped version of gms.

[2021-04-25 16:34] zacheryson commented on #150
Hi, sorry I just saw this. It worked once I reinstalled android studio

[2021-04-25 16:34] #150 closed

[2021-04-25 18:04] cabustos commented on #195
An additional piece of information, the code I am trying to read is wide, and to fit it into the recognition area I have to move the cell phone away and it does not recognize it, xq if I look for a smaller pdf417 code, less wide if it recognizes it

[2021-04-26 17:30] funder7 commented on #28
When building from XCode:
[code]

Plenty of these errors. Maybe the plugin has been exported with this modulemap file missing? Just asking, I don't know how to create flutter libs.

[2021-04-27 22:14] ondine93 commented on #109
Samsung A31 and One Plus 8 Pro With android 11 have the same issue, have you a workaround or a fix time?

[2021-04-27 22:16] adrielrosanelli commented on #167
Sorry, I saw it just now, tomorrow I will test.

[2021-04-28 19:21] marianoarga commented on #39
@AmolGangadhare Sure, which are they?

[2021-05-02 07:00] danieluac opened #197 "Error: MissingPluginException(No implementation found for method scanBarcode on channel flutter_barcode_scanner)"
Error: MissingPluginException(No implementation found for method scanBarcode on channel flutter_barcode_scanner)
    at Object.throw_ [as throw] (http://localhost:54333/dart_sdk.js:5333:11)
    at MethodChannel._invokeMethod (http://localhost:54333/packages/flutter/src/services/system_channels.dart.lib.js:954:21)
    at _invokeMethod.next (<anonymous>)
    at http://localhost:54333/dart_sdk.js:390

[2021-05-02 07:02] danieluac commented on #197
Why I am getting this?
just created the app, but I when try to click on button to call scanner qr, barcode... I am getting this issue in my console...

[2021-05-02 14:54] AmolGangadhare commented on #197
Try flutter clean-> Invalidate Cache and Restart on android studio->flutter pub get.

It should resolve the issue for you.

[2021-05-07 15:07] santiracca commented on #171
@jjsebastianfuertes  Have the same problem! any updates on this?

Is it safe to assume that ios always returns a leading zero?

[2021-05-08 17:13] AmolGangadhare commented on #197
@danieluac

Have you tried the possible solution? Is the issue persists for you?

[2021-05-10 20:56] pitanni opened #199 "On Press BackButton"
When the back button pressed, is it possible to return to the previous state?
At the moment the await receive null and not return to previous state

[2021-05-13 08:10] nicolasvahidzein commented on #109
I have this problem too, it didn't use to be like this, what happened?

[2021-05-14 15:36] skyflakes05 commented on #197
Hi @AmolGangadhare, I also encounter this issue even after doing these steps. What else can I check for this?

Thank you so much.

[2021-05-19 20:57] danieluac commented on #197
I just tried, anything works @AmolGangadhare

[2021-05-20 00:12] medean-amer commented on #144
i have the same problem how did fix it??

[2021-05-26 08:22] JavierPerezLavadie opened #201 "New feature or enhancement"
Hello,
Thanks for this plugin, I would like to open the scan camera using PageView. Can you tell me like I can do it? Thank you

[2021-05-28 21:42] sgehrman commented on #159
I hit the back button and got the string "-1".  That's not a great API.  I would expect a valid string of data from the barcode, or null.  I don't want to have to parse the result and look for -1 or other strings I might not know about.

[2021-05-30 12:57] ZaifSenpai opened #202 "New feature or enhancement: Delay in scanning"
The library scans too quickly in scanBarcode() mode.
That would be great if it gives some time to the user so the user can set the camera and do the scanning. If there are multiple codes near each other, it is hard to determine which code was scanned.

[2021-06-01 07:29] izzyaf opened #204 "Switching camera crashes app when device only has a single camera"
**Describe the bug**
Switching camera crashes app when device only has a single camera.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure device only has 1 camera.
2. Press switch camera icon.
3. App crashes.

**Expected behavior**
App doesn't crash.

**Screenshots**
N/A

**Smartphone (please complete the following information):**
Any device with only 1 camera.

[2021-06-01 07:29] izzyaf commented on #204
@AmolGangadhare  PR: https://github.com/AmolGangadhare/flutter_barcode_scanner/pull/203

[2021-06-01 08:52] seifkh97 opened #205 "Can you added a beeb after each successful scan of a barcode"
something like this
`final barcode = await FlutterBarcodeScanner.scanBarcode(
          "#ff6666", "cancel", true, ScanMode.BARCODE, **true**);`
`Future<String> scanBarcode(String lineColor, String cancelButtonText, bool isShowFlashIcon, ScanMode scanMode, **boll beeb**)`

[2021-06-01 17:02] lebe-dev commented on #205
You can add it with [flutter_beep](https://pub.dev/packages/flutter_beep) package:
[code]

[2021-06-05 08:11] Mythar opened #207 "Flutter version 2.2.0"
Getting this error using Flutter 2.2.0 & 2.2.1:

W/DynamiteModule( 6652): Local module descriptor class for com.google.android.gms.vision.dynamite.barcode not found.
I/DynamiteModule( 6652): Considering local module com.google.android.gms.vision.dynamite.barcode:0 and remote module com.google.android.gms.vision.dynamite.barcode:0
W/DynamiteModule( 6652): Local module descriptor class for com.googl

[2021-06-07 07:42] Joyker commented on #105
same problem, any solution ?

[2021-06-07 07:54] Joyker opened #208 "ios deploy, Product -> archive error"
building for iOS-armv7 but attempting to link with file built for iOS-arm64
Undefined symbols for architecture armv7:
  "_OBJC_CLASS_$__TtC23flutter_barcode_scanner32SwiftFlutterBarcodeScannerPlugin", referenced from:
      objc-class-ref in GeneratedPluginRegistrant.o
ld: symbol(s) not found for architecture armv7

 flutter_barcode_scanner: 1.0.2
flutter pre null safety

[2021-06-07 08:02] Joyker commented on #208
solved by deployment ionfo : ios 11

[2021-06-07 08:02] #208 closed, assigned to nobody

[2021-06-09 04:47] pradt commented on #128
Unfortunately I upgraded SDK to 2.10 and version of the barcode scanner  to ^2.0.0 and I'm receiving this error as well :

MainActivity.kt
[code]
Error being produced :
[code]

[2021-06-09 05:36] pradt commented on #128
Alright my one is now resolved. I had rename FlutterActivity to FlutterFragmentActivity in the new 2.0.0 folder.

[2021-06-09 19:46] MohammadMobasher commented on #157
hi
same issue, and i use this web [site](https://barcode.tec-it.com/en/Code128)  for creating barcode, but i got always this warning and never recognize the barcode.

the error :
W/BarcodeNativeHandle(22604): Native handle not yet available. Reverting to no-op handle.
W/DynamiteModule(22604): Local module descriptor class for com.google.android.gms.vision.dynamite.barcode not found.
I/DynamiteModu

[2021-06-14 14:07] votivemobileankit commented on #137
Unable to destroy activity {com.votive.kurier/io.github.edufolly.fluttermobilevision.ocr.OcrCaptureActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Thread$State java.lang.Thread.getState()' on a null object reference

[2021-06-14 14:07] votivemobileankit commented on #137
Unable to destroy activity {com

.kurier/io.github.edufolly.fluttermobilevision.ocr.OcrCaptureActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Thread$State java.lang.Thread.getState()' on a null object reference

[2021-06-15 15:10] santiracca commented on #171
any updates on this? @AmolGangadhare

[2021-06-18 16:56] xritzx commented on #109
Yes, I am having the same issue with all of my android devices however it's working fine with ios 14.6 in iphone 11

[2021-06-18 19:46] nicolasvahidzein commented on #109
Ok but we need this fixed on android. This is terrible.

[2021-06-24 11:36] fathialamre opened #209 "FlutterBarcodeScannerPlugin not working"
java.lang.ClassCastException: com.giga.giganet.MainActivity cannot be cast to io.flutter.embedding.android.FlutterActivity
E/AndroidRuntime(14107): 	at com.amolg.flutterbarcodescanner.FlutterBarcodeScannerPlugin.createPluginSetup(FlutterBarcodeScannerPlugin.java:248)
E/AndroidRuntime(14107): 	at com.amolg.flutterbarcodescanner.FlutterBarcodeScannerPlugin.onAttachedToActivity(FlutterBarcodeScannerP

[2021-06-25 18:53] mklepaczko opened #210 "MissingPluginException (MissingPluginException(No implementation found for method scanBarcode on channel flutter_barcode_scanner))"
I'm implementing payments in my app with Stripe which requires the flutter_stripe package (https://github.com/flutter-stripe/flutter_stripe#android).

To work it requires Using FlutterFragmentActivity instead of FlutterActivity in MainActivity.kt: example:

https://github.com/flutter-stripe/flutter_stripe/blob/79b201a2e9b827196d6a97bb41e1d0e526632a5a/example/android/app/src/main/kotlin/com/flutter

[2021-06-28 05:02] msandwidi commented on #106
Mine is solved. Thank you

[2021-06-30 23:07] mklepaczko commented on #210
https://github.com/AmolGangadhare/flutter_barcode_scanner/issues/128

This would resolve the problem.

[2021-06-30 23:07] #210 closed, assigned to nobody

[2021-07-01 10:26] iremiko opened #212 "version 2.0.0 iOS build error"
Hi, I have got error when I am building

Here is the error:

Failed to build iOS app
Error output from Xcode build:
↳
    objc[18688]: Class AMSupportURLConnectionDelegate is implemented in both /usr/lib/libauthinstall.dylib (0x1ed662c10) and /System/Library/PrivateFrameworks/MobileDevice.framework/Versions/A/MobileDevice (0x11aeb82b8). One of the two will be used. Which one is undefined.
    objc

[2021-07-07 04:31] viniciusddrft opened #213 "Add another static function for reading qrcode and barcode from files."
I think this would help a lot in the project, this plugin is already great, but if you want to add it is even better.

[2021-07-08 04:20] tban opened #214 "iOS has difficulty reading codes compared to Android"
In my experience using this wonderful package, I find that it performs much better on Android than it does on iOS.
In Android the reading of the codes is immediate. On iOS you have a hard time capturing them.
The difference is radical when we try to capture a QR that is presented on a computer screen. While with Android the capture is immediate, with iOS it is almost impossible.
I would like to kn

[2021-07-08 13:58] alejandroPolak-1 commented on #209
I had the same problem:
1) First: you need your environment sdk:> = 2.12
2) Later. I was only able to make this problem go away by changing the flutter channel to beta (flutter channel beta / flutter update / flutter pub get)
But the new problem that appears is MissingPluginException (no implementation found for scanBarcode method in flutter_barcode_scanner channel)

[2021-07-09 05:39] lijmr commented on #152
I solved this problem by removing my Podfile and Podfile.lock files, then rerunning my app.

[2021-07-14 10:13] JinG312 commented on #166
@AmolGangadhare I'm currently using V2.0.0 still having this error.

Error:
D/AndroidRuntime(15695): Shutting down VM
E/AndroidRuntime(15695): FATAL EXCEPTION: main
E/AndroidRuntime(15695): Process: com.example.htosafe, PID: 15695
E/AndroidRuntime(15695): java.lang.IllegalStateException: You need to use a Theme.AppCompat theme (or descendant) with this activity.
E/AndroidRuntime(15695): 	at androi

[2021-07-14 20:00] alejandroPolak-1 commented on #56
Excelent! Thank you!

I was able to manually fix the problem with local_auth.
In the new package update, maybe it could be changed from FlutterActivity to FlutterFragmentActivity.

[2021-07-16 13:07] apoorvpandey0 opened #216 "Manual focus capablity"
Auto focus can be incorrect and not the best solution at times, can we have manual focus for the camera?

[2021-07-17 01:44] mklepaczko opened #217 "Plugin causing channel problem with other plugins"
Create a new project,
Add flutter_barcode_scanner and wakelock plugins in pubspec.yaml

When running Wakelock.enable() it causes a PlatformException(channel-error, Unable to establish connection on channel., null, null)

Same with imagePicker.

[2021-07-19 12:07] hy-net opened #218 "How to navigate to next page after scanning?"
My code is very simple. But it failed to work

    @override
    void initState() {
      super.initState();

      Future init() async {
        await FlutterBarcodeScanner.scanBarcode("#ff6666", "Cancel", true, ScanMode.QR);
        Navigator.push(context, MaterialPageRoute(builder: (_) => MyPage()));
      }
      init();
    }

[2021-07-22 13:03] mhdarshad opened #219 "Not Running on Tab"
**Describe the bug**
I am running this one in My Tab (Lenovo TB3-710f) version is 5.0.1. it's not Scanning the barcode on that device.

this might be the error

W/DynamiteModule(26175): Local module descriptor class for com.google.android.gms.vision.barcode not found.
I/DynamiteModule(26175): Considering local module com.google.android.gms.vision.barcode:0 and remote module com.google.android.gms.

[2021-07-22 13:48] Luismi74 commented on #159
Same, I had to implement this on the function:
`  if (barcodeScan == '-1') {
      setState(() {
        barcodeScan = null;
      });
    }`

[2021-07-26 10:10] logan033 commented on #123
Have you found any workaround for that or atleast a callback weather it is a QrCode or barcode?

[2021-07-28 09:06] malmi commented on #151
I see the same exception with Version 2.0.0 on Android.

[code]

[code]

[code]

[2021-07-28 10:01] chubzchoc commented on #128
Thanks it works for me. I've been stuck on this issue for 3 days.

[2021-07-28 19:40] abhishekgokavarapu-abzy commented on #128
I have the same issue, i am using the flutter_barcode_scanner package with local_auth.

Can someone please help me out with a workaround for now..

`Process: com.serviceit.resolvev2, PID: 9864
07-29 00:29:52.363  9864  9864 E AndroidRuntime: java.lang.ClassCastException: com.serviceit.resolvev2.MainActivity cannot be cast to io.flutter.embedding.android.FlutterActivity
07-29 00:29:52.363  9864  98

[2021-07-30 12:25] Nemasio commented on #207
Hey, i have the same issue with flutter 2.2.1

[2021-08-03 01:30] mono0926 commented on #128
#211 should be merged.

[2021-08-03 07:51] qasim90 commented on #130
Any plans to support this feature? I too need barcode type to generate barcode image accordingly.

[2021-08-03 11:25] abbasovrashad opened #220 "FlutterActivity to FlutterFragmentActivity."
flutter_barcode_scanner works with a class called FlutterActivity. flutter local_auth package works with FlutterFragmentActivity. Running these two packages together creates a problem. The problem is solved when we prefix the FlutterActivity here with FlutterFragmentActivity.

[2021-08-03 12:10] amed901107 opened #221 "the library or it works for me, it throws the following error"
No acceptable module found. Local version is 0 and remote version is 0.
W/DynamiteModule(14211): Local module descriptor class for com.google.android.gms.vision.dynamite.barcode not found.
I/DynamiteModule(14211): Considering local module com.google.android.gms.vision.dynamite.barcode:0 and remote module com.google.android.gms.vision.dynamite.barcode:0
W/DynamiteModule(14211): Local module descrip

[2021-08-09 09:37] qasim90 commented on #134
As @nsilvah mentioned, this issue happens if you provide wrong color code. In my case I was using '#fff' instead of '#ffffff'. Issue can be closed. Should be replaced with `Color` object or apply validation on hex color code for wrong colors to better handle this.

[2021-08-09 09:40] johandb commented on #205
You should be able to turn the beep on or off

[2021-08-09 18:03] TareqAmenah commented on #221
I have the same issue

[2021-08-10 16:57] M1chlCZ opened #222 "Barcode scanner after invoking shows just grey screen"
**Describe the bug**
After I fire up the barcode scanner by example provided by the page on pub.dev I am only getting grey screen.
**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
To show QR scanner.

**Smartphone (please complete the following information):**
 - Device: Android Emulator, iOS Simulator, Samsung Galaxy A52
 - OS: Android 11, iOS 14.3

[2021-08-13 07:26] FurkanKucukali commented on #154
it worked for me a lot. thanks

[2021-08-17 02:33] nicolasvahidzein commented on #109
Hello any news on this issue please?

[2021-08-17 13:57] FMorschel commented on #111
Hi @AmolGangadhare, there is this other plugin with an MIT license where they made so that the camera can be used inside your pages as a widget with the Texture widget.
Here for you to take a look [https://pub.dev/packages/fast_qr_reader_view](https://pub.dev/packages/fast_qr_reader_view)
If you want to test it, you will need a QRReaderController initialized, then you use startScanning. For you to

[2021-08-17 16:24] caravanat commented on #220
I'm having the same problem that @abbasovrashad and his suggestion to change FlutterActivity to FlutterFragmentActivity resolved it.

[2021-08-17 20:39] abdulmalekDery commented on #221
I have the same issue

[2021-08-18 12:40] hufu4635 commented on #221
I have the same issue

[2021-08-19 18:43] PatrickWulfe commented on #109
Also have this problem on both my Google Pixel 2 XL and Poco F1 on Pixel Experience.  Both are on Android 11.  It's also happening in my Pixel 5 Android emulator, which is also on 11.

[2021-08-21 21:42] VictorPerlaciaReal commented on #221
I have the same issue

-Xiaomi Redmi Note 6

[2021-08-24 12:18] AlexsandroZanella2 opened #223 "flutter app crash when running in release mode (flutter run --release)"
Application crashes when running in release mode, but works perfectly in debug

Used latest version (2.0.0).

Example:
`
Future<String> scanQRCode() async {
  try {
    final qrCode = await FlutterBarcodeScanner.scanBarcode(
      '#ff6666',
      'Cancel',
      true,
      ScanMode.QR,
    );
    return qrCode;
  } catch (_) {
    return _;
  }
}
`
StackTrace:
E/AndroidRuntime(27282): java.lang.

[2021-08-24 16:59] myConsciousness commented on #220
Is this issue going to be resolved in the next version and soon? The issue has been around for several years and there is no indication that a version that solves it will be released.

[2021-08-29 21:06] jprobert commented on #130
Me too, that would be a really nice feature.

[2021-08-30 16:39] Pezhvak commented on #221
+1 another issue is reporting same problem #207

[2021-08-30 16:41] Pezhvak commented on #207
Same is happening here

[2021-08-30 17:29] hioshih opened #224 "Continous mode keeps previous listeners"
**Describe the bug**
Greeting! First of all, thank you very much for this awesome package.

That said, when using getBarcodeStreamReceiver to listen continuously for multiple inputs, after pressing cancel the listener should be disabled before the next session.

But once canceled and called getBarcodeStreamReceiver again, both the new listener and the previous one, will be called, cumulative.

Sin

[2021-08-31 07:16] sarahk opened #225 "Camera in android.hardware has been deprecated"
The scanner runs fine in vscode and testing. I'm trying to compile an apk to send to my testers and getting deprecation errors. Is it ok to change the files to Camera2?

/Users/me/Development/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_barcode_scanner-2.0.0/android/src/main/java/com/amolg/flutterbarcodescanner/camera/CameraSource.java:24: warning: [deprecation] Camera in android.hardware ha

[2021-08-31 10:29] fishdulyapath commented on #224
i have the same issue

[2021-08-31 19:18] pynner commented on #35
+1 for this feature!

[2021-09-01 00:10] sarahk commented on #222
I had that too, could run the example code but not mine. I'd changed function names, exceptions. Once I changed all that back it worked. I need to go back and replicate to identify what didn't like being edited.

[2021-09-01 13:35] AguinaldoAranda commented on #220
It would be important to let us know if this tweak will be implemented so we can get our bearings and opt out of using either package as local_auth with flutter_barcode_scanner doesn't work.

[2021-09-02 08:34] acassar opened #226 "New feature or enhancement => dynamic camera permission"
So my app is built to work on scanner type devices, so without camera. Also, I would like it to be available on phones, so I need this plugin for that types of devices. The problem is that, if I add the plugin to my app, the permission android.hardware.camera is added too. This permission is unfortunately not compatible with devices without cameras, and I finaly need to choose between them :/.

Wo

[2021-09-09 18:49] NattawutTanthai opened #228 "module 'flutter_barcode_scanner' not found @import flutter_barcode_scanner;"
![Screen Shot 2564-09-10 at 01 49 06](https://user-images.githubusercontent.com/90416683/132745262-3b2bc91a-c20a-4bdb-b5bd-c9aaf9607f0d.png)

[2021-09-14 10:57] bulanni00 commented on #207
这是什么问题.

[2021-09-15 03:03] fernandocerkal commented on #30
+1

java.lang.ClassCastException: com.myapp.MainActivity cannot be cast to io.flutter.app.FlutterActivity

[2021-09-20 13:31] AlexsandroZanella2 commented on #223
Problema resolvido atualizando gradle e kotlin para as ultimas versões;

[2021-09-20 13:31] #223 closed, assigned to nobody

[2021-09-21 11:01] praharshbhatt commented on #12
Update: the new documentation recommends to use the Deployment Target to 12.
https://pub.dev/packages/flutter_barcode_scanner#ios---requires-swift-support

[2021-09-22 19:10] lohhans commented on #228
Same here, there's any solution?

![Captura de tela de 2021-09-22 16-09-50](https://user-images.githubusercontent.com/30741312/134406612-8f3a2472-0a9b-4b35-b320-2230d08aea17.png)

[2021-09-23 09:39] zeshanmusaw commented on #12
yes you can set to 11.0 or make sure this is not commented

[2021-09-25 08:12] BernardinD commented on #48
Any update on Desktop compatibility? Or even just Windows?

[2021-09-25 19:19] ahmdqader commented on #224
I solved the problem by adding one second between every scan to prevent fast duplicates, but I realized a new problem that the scanner doesn't scan what inside the frame only, its scanning the whole camera screen and this caused problem to me.

[2021-09-25 19:43] ahmdqader opened #229 "The scanner scan the barcodes outside the scanning frame"
**Describe the bug**
The scanner scan the barcodes outside the scanning frame.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the continuous scanner
2. Point to the barcode outside the focus frame
3. Barcode got scanned even its outside the frame

**Expected behavior**
Scan the barcode inside  the scanning frame only

**Smartphone (please complete the following information):**
 - OS: A

[2021-09-25 23:02] DitoXD commented on #133
can someone fix this whole package with nullsafety? or at least empart some knowledge on how to do it? I will myself if I could learn how... really need the android and iOS version of OCR to work too

[2021-09-28 02:47] sayandeepmajumdar opened #230 "Scanner could not scan '/' this symbol properly."
**Describe the bug**
Barcodes generated from the backend. It's C93 type barcode.  Now When scanning the barcode using this package, it's scanning 'AS/33/XX' this barcode to 'ASc33cXX'.

**To Reproduce**
Steps to reproduce the behavior:
1. Same example code I've used & no error is generated.

**Expected behavior**
Scanned properly to any special character.

**Smartphone (please complete the followi

[2021-09-28 10:34] pbs009 commented on #194
It won't work as internally you are checking for empty string and providing default as `Cancel`.

[2021-09-28 10:35] pbs009 commented on #201
@JavierPerezLavadie Did you got the solution of this?

[2021-09-28 19:28] arordakowski commented on #228
Same problem, has anyone found a solution?

[2021-10-02 01:40] balenaultra commented on #28
Same error here.
Already recreate the project as swift, done steps on the read me, no success.
Anyone can help?

[2021-10-02 12:43] arordakowski commented on #228
I managed to solve it by opening the Runner.xcodeproj file in Xcode. I navigated to Pods/Development Pods/flutter_barcode_scanner/Pod/flutter_barcode_scanner.podspec. So Xcode recognized the module and built the application without any problems. Hope this helps you too!

![print](https://user-images.githubusercontent.com/42479039/135716529-4dfcf587-823a-44c2-ab44-69c299ef18b7.jpg)

[2021-10-07 10:22] hayatbangash55 opened #232 "PLease provide the functionality of customizing the UI of scanner?"
i want to use it this scanner in a full screen horizantal orientation.

[2021-10-08 06:26] utsavDave97 commented on #151
anything on this one? I am also getting it. Do you have any workarounds? @jayhaase

@AmolGangadhare  any fix for this one?

[2021-10-09 17:41] Y0ngg4n commented on #221
Same issue

[2021-10-11 09:54] liseipi opened #233 "update ios 15 and swift 5.5 build error"
**swift 5.5 bug**
update ios 15 and swift 5.5 build error

**To Reproduce**
/.symlinks/plugins/flutter_barcode_scanner/ios/flutter_barcode_scanner.podspec:21
     #  -------------------------------------------
     #    s.ios.deployment_target = '12.0'

     #  end
     #  -------------------------------------------

[2021-10-11 15:13] jamolina2021 commented on #232
If possible, it would be great if the scanner could be displayed in any rectangle on the screen so that other widgets could be combined together with the scanner widget.
Thanks.

[2021-10-12 01:33] liseipi commented on #228
Same problem, has anyone found a solution?

[2021-10-13 09:44] Batflash5 commented on #222
Colors.white24.toString() - this is the one which causes error.

The first argument of `FlutterBarcodeScanner.scanBarcode()` is a String(Hex value of color with a '#' replacing '0x').

Example:
`String _content = FlutterBarcodeScanner.scanBarcode('#FF4CAF50', "CANCEL", true, ScanMode.DEFAULT);`

Hope it helps.

[2021-10-13 09:47] M1chlCZ commented on #222
@Batflash5 Well that worked, I feel stupid. I already move on to my own solution, out of the curiosity and personal project. However yeah, sometimes reading helps.

So thank you and this is solved.

[2021-10-13 09:47] #222 closed, assigned to nobody

[2021-10-15 15:38] anasalmasri11 opened #234 "Scan for barcode for cars issues"
https://user-images.githubusercontent.com/53037916/137514549-2bcc14bb-9a99-4e97-ad76-1bd8bfa44a50.MOV

As can be seen in the video, every time I try to scan a barcode it gets an extra letter l at the beginning.

[2021-10-21 13:36] yvesbou opened #235 "Unable to proceed - Camera not available"
The UI shows:
"Unable to proceed - Camera not available"

I did the following steps when I landed there:
1. Set minimum deployment target to 12 and set Swift version to 5.
2. Close the Xcode and `run pod install` in `/ios` in flutter project.
3. added this :

[code]

to the `Info.plist` file

4. added `flutter_barcode_scanner: ^2.0.0` to my dependencies
5. import `'package:flutter_barcode_scanner/

[2021-10-22 12:17] mahdinazmi commented on #106
How did you solve this problem?

[2021-10-23 01:15] nyck33 commented on #101
on my Alcatel I get the view with red bar going up and down but these errors:
[code]
I shut the app down for the last line.

[2021-10-25 10:45] Seeeev opened #236 "Threshold adjustment for scanning accuracy"
Random characters are returned when not scanning for barcodes or QR codes.

It would be nice if I can adjust the accuracy to mitigate this issue.

[2021-10-26 14:28] elninho22 opened #237 "Does not focus on tablets Samsung"
** Is your feature request related to an issue?
It has no focus for reading QrCode and BarCode is not performed on devices such as Galaxy TAB A 2016 (SM-T280)

** Describe the solution you would like **
Use the package on TAB devices, in which Focus works to read QrCode and BarCode

** Describe the alternatives you considered **
Android Update, Flutter, and Package

** Additional Context **
This i

[2021-10-27 08:37] sugerla commented on #144
我的也不行

[2021-10-29 09:32] jamolina2021 opened #238 "Scan barcode format detection"
Hello,

It would be fabulous if, in addition to the result string identifying the barcode, it would also return the barcode format that it has detected, that is, if it is a QRCode, an EAN13, ...

Many thanks.
Regards,
Jose A.

[2021-10-29 11:31] jamolina2021 opened #239 "CODABAR format scanning does not work correctly"
Hello,

CODABAR format scanning does not work correctly, for example code 7698-1239 returns A7698-1239B

Thanks.
Regards,
Jose A.

[2021-10-29 13:12] jamolina2021 opened #240 "EAN2 Barcode format"
Hello,

From what I have observed the EAN2 format is not supported.
Do you have plans to implement EAN2 support in your library?

Thanks.
Regards,
Jose A.

[2021-10-29 13:36] jamolina2021 opened #241 "EAN5 Barcode format"
Hello,

From what I have observed the EAN5 format is not supported.
Do you have plans to implement EAN5 support in your library?

Thanks.
Regards,
Jose A.

[2021-10-29 13:50] jamolina2021 opened #242 "ITF 16 Barcode format"
Hello,

From what I have observed the ITF 16 format is not supported.
Do you have plans to implement ITF 16 support in your library?

Thanks.
Regards,
Jose A.

[2021-10-29 13:52] jamolina2021 opened #243 "PDF417 Barcode format"
Hello,

From what I have observed the PDF417 format is not supported.
Do you have plans to implement PDF417 support in your library?

Thanks.
Regards,
Jose A.

[2021-10-29 14:01] jamolina2021 opened #244 "RM4SCC Barcode format"
Hello,

From what I have observed the RM4SCC format is not supported.
Do you have plans to implement RM4SCC support in your library?

Thanks.
Regards,
Jose A.

[2021-10-29 14:04] jamolina2021 opened #245 "Telepen Barcode format"
Hello,

From what I have observed the Telepen format is not supported.
Do you have plans to implement Telepen support in your library?

Thanks.
Regards,
Jose A.

[2021-11-03 03:47] pansitwattana opened #247 "Caught error crash on production"
Found crash when release to Play Store

Crash on Android 11 (F11 Pro)
Use Flutter 2.5.3 to build this project

`Fatal Exception: java.lang.RuntimeException: Unable to resume activity`

[code]

[code]

[2021-11-04 11:29] ashfevertree commented on #247
We also have this issue on Production :/

Debug builds work fine

[2021-11-05 02:22] cinder92 commented on #235
im getting same issue, this is on simulator

[2021-11-05 03:17] cinder92 commented on #235
@yvesbou you should use a real device. cheers

[2021-11-06 15:01] nicolasvahidzein commented on #109
Hello team. Any progress on this please? This is a big problem.

[2021-11-10 14:56] fmancusomilite opened #249 "MissingPluginException"
MissingPluginException: MissingPluginException(No implementation found for method scanBarcode on channel flutter_barcode_scanner)

This issue is present only for Android

[2021-11-10 14:59] fmancusomilite commented on #249
I try to flutter clean-> Invalidate Cache and Restart on android studio->flutter pub get but doesn't work

[2021-11-15 11:36] mma-amini commented on #221
Same issue

[2021-11-15 12:05] DanielCardona commented on #171
Facing the same problem here. Thanks for any update on the issue ;-). Nice package.

[2021-11-17 14:26] pedropacheco92 commented on #249
Having the same issue, the actual message is: `No implementation found for method scanBarcode on channel flutter_barcode_scanner`

[2021-11-18 12:24] SDCGGroup opened #252 "front-facing camera scanning not working (IOS)"

[2021-11-18 13:55] MFassmann commented on #135
Hey,

is here any workaround to solve this problem?

[2021-11-19 11:34] SYThomasNordmeyer commented on #113
Pitty you just closed this issue, adding the feature would increase the value of your nice component.
Having the same problem and find this is quiet common. When scanning for a valid barcode quiet often invalid ones come along. In this case you scan as long as you find a valid one or user cancels. Did not find a way to handle the first case.

[2021-11-19 11:41] SYThomasNordmeyer commented on #113
Hi @AmolGangadhare, I just saw there is already an implementation in the pipeline. If you merge PR
https://github.com/AmolGangadhare/flutter_barcode_scanner/pull/246
the solution will be in place, I guess.

[2021-11-23 00:46] shinlh commented on #249
Same issue here. Any help? I tried everything in this closed issue [7](https://github.com/AmolGangadhare/flutter_barcode_scanner/issues/7). I'm using the latest version 2.0.0.

[2021-11-24 22:23] ajfranzoia commented on #249
@AmolGangadhare I'm getting the same error as well. I am using the latest version and tried all the steps given in #7 in a fresh install.
This is my flutter doctor output:

[code]

[2021-11-25 05:27] SDCGGroup commented on #252
it seems working on large font barcode when the barcode is small the front camera can't detect (maybe because her resolution is low). Sorry, isn't an issue with the module.

[2021-11-29 10:51] alexcgrd opened #253 "single digit barcodes not working (Android)"
**Describe the bug**
Single digit barcodes are hard to read and return the wrong value. Any other barcodes work fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the example
2. Scan a single digit barcode (barcode generator: https://barcode.tec-it.com/en/?data=3 )

**Expected behavior**
It should return the correct single digit barcode result

**Screenshots**
![barcode](https://

[2021-12-01 00:33] arftylmz opened #254 "Could not resolve com.google.android.gms:play-services-vision-common:[19.0.0]."
I get this error even though I didn't make any changes when I used it before
[code]

[2021-12-01 03:13] dsourav commented on #254
i am also facing the same issue any workaround

[2021-12-02 15:21] robman70 opened #255 "Cannot add plugin"
I cannot add this plugin:

flutter pub add flutter_barcode_scanner
Because flutter_barcode_scanner depends on flutter_barcode_scanner, version solving failed
pub finished with exit code 65

If I try to add it manually:

Running "flutter pub get" in flutter_barcode_scanner...
Error on line 33, column 3 of pubspec.yaml: A package may not list itself as a dependency.
   ╷
33 │   flutter_barcode_scann

[2021-12-03 11:19] pdivita commented on #157
Scanning QR codes doesn't work on emulator (I guess because I'm using a system image WITHOUT Play Services), but WORKS on real device.

[2021-12-07 01:37] asmengistu commented on #249
When using this library make sure you extend FlutterActivty:

Java:
```public class MainActivity extends FlutterActivity {```

Or for Kotlin:
``` class MainActivity: FlutterActivity() { ```

More info here: https://docs.flutter.dev/development/packages-and-plugins/plugin-api-migration

[2021-12-09 07:29] majidflutter opened #257 "There is no way to customize UI, I want Camera Preview within certain height or width in container"
There is no proper way to adjust Camera Preview as it takes full screen but I want to combine it with other widgets on Screen and want to give a desired width and height but there is no way to do that, I would request please make it possible  and do a little bit change to the code so that we can customize our UI according to our own width and height as oppose to full screen camera preview

[2021-12-09 18:58] FMorschel commented on #257
@AmolGangadhare, maybe this is not the best place to put this, but as @majidflutter asked, I would like something like [qr_mobile_vision](https://pub.dev/packages/qr_mobile_vision) where you can put the camera wherever you like. Maybe even inside a [floating_overlay](https://pub.dev/packages/floating_overlay)

[2021-12-10 16:32] fmancusomilite commented on #128
Thanks for solution, but where is this file?? Thanks

[2021-12-10 17:45] KatePsk commented on #249
I faced the same problem in my project. Thanks asmengistu. His solution worked for me. It was really necessary to inherit MainActivity from FlutterActivity. I will just clarify that, of course, it is also necessary to correct the import in MainActivity.

[2021-12-11 06:02] #235 closed, assigned to nobody

[2021-12-13 21:28] darkfrog26 commented on #228
Same problem running on MBP M1 Pro laptop. I'm wondering if this is related to the hoops I had to go through to install the pods on the M1. Anyone else having this problem on an M1?

[2021-12-15 09:45] pdivita commented on #228
I fixed doing a `flutter clean` and then `pod install`

[2021-12-15 11:32] #233 closed, assigned to nobody

[2021-12-15 13:51] darkfrog26 commented on #228
@pdivita, unfortunately, that didn't solve my problem. I'm still getting `Module 'flutter_barcode_scanner' not found`.

[2021-12-15 18:46] mariovzc commented on #254
same problem here, any solution ?

[2021-12-16 04:59] eggysudianto opened #258 "how to disable front camera button?"
how to disable or hidden front camera button? I think I don't need front camera

[2021-12-17 10:05] alexverbitsky commented on #249
@KatePsk Could you please explain what you've changed and where to solve the issue?

[2021-12-17 10:12] alexverbitsky commented on #249
I had the same issue. Previously I've moved from the 1st Flutter version. I had the next code in my MainActivity file

![image](https://user-images.githubusercontent.com/34838543/146528159-0e8c2ae4-970b-43d2-a30d-a3b79a3cee00.png)

Changing code the next way solved my issue

![image](https://user-images.githubusercontent.com/34838543/146528301-a51f16a5-6561-449d-b19b-791efef9c249.png)

[2021-12-17 10:43] fmancusomilite commented on #249
**SOLVED**
change from FlutterBarCodeScanner.java all reference to `FlutterActivity` in `FlutterFragmentActivity`. In my case i use in same project local_auth and flutterbarcodescanner packages.

[2021-12-17 10:43] #249 closed, assigned to nobody

[2021-12-20 13:26] MrTavus opened #259 "About the 12-digit ean-13 barcode (only iOS)"
**Describe the bug**
When you scan a 12-digit EAN13 barcode, the library recognize it as EAN13 and pad a '0' at the begin of rawContent. Only iOS has this problem, Android is not. Android return barcode as it.

**For Example**
"778988206539", it will be returned as "0778988206539" in the format of EAN13. Android return "778988206539"

**Expected behavior**
Return "778988206539" instead of "0778988

[2021-12-24 18:22] Scienticious commented on #254
I am also facing the same problem

[2021-12-26 05:46] almikurniawan opened #260 "My bloc is not working after use this for scanning qrcode"
**Describe the bug**
I'm use bloc for manage data from api. Mybloc work before i'm scan qrcode, but after scan qrcode my bloc is not working

[2021-12-30 07:01] anandasubedi commented on #254
Any resolutions yet? still facing the same issue

[2022-01-02 07:22] #260 closed, assigned to nobody

[2022-01-03 19:05] MateoSchultheis opened #261 "Unhandled Exception: MissingPluginException(No implementation found for method scanBarcode on channel flutter_barcode_scanner)"
E/flutter (30297): [ERROR:flutter/lib/ui/ui_dart_state.cc(209)] Unhandled Exception: MissingPluginException(No implementation found for method scanBarcode on channel flutter_barcode_scanner)
E/flutter (30297): #0      MethodChannel._invokeMethod
package:flutter/…/services/platform_channel.dart:154
E/flutter (30297): <asynchronous suspension>
E/flutter (30297): #1      FlutterBarcodeScanner.scanBar

[2022-01-05 16:36] kechankrisna commented on #261
did you have a hotfix?

[2022-01-06 06:35] rifat-22 commented on #28
Still facing the error. How to resolve? Anyone solved yet?

[2022-01-06 09:32] Harshdeep4295 commented on #28
Hi @rifat-22 , Which issue you are referring to here.

[2022-01-06 09:38] rifat-22 commented on #28
Hello @Harshdeep4295, this issue
fatal error: 'flutter_barcode_scanner/flutter_barcode_scanner-Swift.h' file not found

[2022-01-06 09:42] Harshdeep4295 commented on #28
HI @rifat-22 , there is this manual solution for now, which I was able to work with. It is https://github.com/AmolGangadhare/flutter_barcode_scanner/issues/28#issuecomment-595749195 this one only. Try this, hope this will work.

[2022-01-06 09:45] rifat-22 commented on #28
Hi @Harshdeep4295 thanks for your response and I have these https://github.com/AmolGangadhare/flutter_barcode_scanner/issues/28#issuecomment-624425666 quires, can you help ?

[2022-01-06 09:52] Harshdeep4295 commented on #28
Hi @rifat-22 , Have you tried using below

Edit .m file, replace #import <flutter_barcode_scanner/flutter_barcode_scanner-Swift.h> with #import <flutter_barcode_scanner-Swift.h>;

if you can see this pod project, just try importing flutter_barcode_scanner.h or flutter_barcode_scanner-Swift.h directly..

[2022-01-06 11:03] rifat-22 commented on #28
Hello @Harshdeep4295 , I have edited the .m file then I am facing this error
![image](https://user-images.githubusercontent.com/42882492/148373222-4cfc5ae5-fb34-413f-8104-d13754b100de.png)

[2022-01-07 19:20] sayandeep-volition opened #262 "fatal error: module 'flutter_barcode_scanner' not found iOS"
When I was going to build iOS, I'm getting this error.

**Done:**  Upgrade Deployment Target to 12 & Swift to 5. And checked the process as mentioned in README.

This is what I'm getting now.
![screely-1641583167747](https://user-images.githubusercontent.com/80146295/148595759-85ecc0ea-d686-44bd-8784-e107a1369f1f.png)

[2022-01-10 15:16] crushman1 commented on #254
What do we do? this is still not working

[2022-01-11 10:34] Scienticious commented on #254
Use another barcode scanner,

[2022-01-12 01:47] nicolasvahidzein commented on #109
Hello guys. Any feedback on this? It has been quite a few months. Pretty please with a cherry on top.

[2022-01-13 12:46] alexverbitsky commented on #220
Here is the related pr, that solves the issue, please check it https://github.com/AmolGangadhare/flutter_barcode_scanner/pull/211

[2022-01-15 10:07] metehanpinarli opened #263 "Custom Scanner UI"
We need to put widgets for browsing purposes. This feature must be

[2022-01-15 16:06] saguado69 opened #264 "Front camera and flash icons size settings"
When wrapping the widget inside SafeArea, Camera and Flash Icons are cropped, so, will be nice to have the possibility to resize those icons.

[2022-01-16 14:30] dusalex opened #265 "jcenter dependency causing build issues"
**Describe the bug**
Build of a flutter project using flutter_barcode scanner fails with the following errors (and more follow-up errors):

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring project ':flutter_barcode_scanner'.

     Required by:
         project :flutter_barcode_scanner > com.android.tools.build:gradle:4.1.3
         project :flutter_barcod

[2022-01-18 15:25] elninho22 opened #267 "Start Front Camera"
Good afternoon,

please, is it possible to implement parameter or configuration, so that you have

possibility to start front camera, when starting reading
this would be very important for devices that use reading on front cameras

Plis!

[2022-01-20 13:32] AndrewSheetMetal commented on #109
Same on Pixel 4a, I hoped that anyone had fixed this issue already :/

[2022-01-24 18:22] arnzuk commented on #263
Hi Amol,

Any plans about custom scanner UI?

[2022-01-24 18:44] allansrc commented on #212
got any solution?

[2022-02-01 09:58] nirzondivine192 opened #268 "Could not resolve com.google.android.gms:play-services-vision-common:"
I am trying to add flutter_barcode_scanner package to my flutter project but for the last two days, I am getting errors in my current code and don't know how to fix it. trying hard but nothing happened in the right way.

How to resolved this problem
FAILURE: Build failed with an exception.

    What went wrong: Could not determine the dependencies of task ':app:preDebugBuild'.

    Could not resol

[2022-02-06 15:50] Mythar opened #269 "This plug-in dose not work on higher than Flutter 2.0.6"
Just to let you know, if you want to use this plug-in, don't go higher than Flutter 2.0.6

Has anyone fixed this in a fork ?

[2022-02-07 14:35] anothermike commented on #269
Have to confirm. Not working on 2.1.0. A fix would be highly appreciated :-)

+1

[2022-02-12 09:46] oniangel12933 opened #270 "Android V2 issue : disabled to build apk"
I tried to build apk from android studio. But, I failed, it show error related with android V2. Please update to fix this issue.

[2022-02-13 15:52] callawey commented on #171
this is not from the library but from ios. of course library should handle it. i corrected it myself.

apple explanation
`UPC-A is a formal subset of EAN-13. A decoded UPC-A barcode is output as AVMetadataObjectTypeEAN13Code with a leading zero in the stringValue.`

you need to change below function inside

SwiftFlutterBarcodeScannerPlugin.swift -> BarcodeScannerViewController -> metadataOutput

[

[2022-02-15 01:20] alexprazeres commented on #261
I fixed mine with:
#128

[2022-02-15 12:56] julio-lagos-imatia opened #271 "WiFi QR scan not returning the whole data"
**Describe the bug**
Scanning a QR code (From a WiFi connection) is returning only part of the data contained in the QR.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the scanner.
2. Scan the following QR code.
![image](https://user-images.githubusercontent.com/94524605/154064389-738b1fc7-4485-4959-aba5-07de98108f3f.png)
3. Read the scanned data.
4. The data is only containing `WIFI:S

[2022-02-16 11:41] fmancusomilite commented on #128
.pub-cache/hosted/pub.dartlang.org/flutter_barcode_scanner-2.0.0/android/src/main/java/com/amolg/flutterbarcodescanner

[2022-02-16 17:05] #271 closed, assigned to nobody

[2022-02-16 17:06] julio-lagos-imatia commented on #271
Problem solved, the print is not showing everything in console, but the reader is actually reading and having the right string

[2022-02-20 17:56] jacd007 commented on #110
I did the previous comment but the error still does not disappear, in fact now I have more errors, I attach a screenshot
![t1](https://user-images.githubusercontent.com/29126982/154856762-a81ed6cb-fc3e-4165-82a5-87b645164368.png)
![t2](https://user-images.githubusercontent.com/29126982/154856764-b8733827-8fc2-42c0-8f09-082f560f1926.png)

[2022-02-25 12:04] chandikagunawardhana opened #272 "iOS - Scanner Camera is Rotated if Opened When Device is Pointed Downwards - Landscape Oriented App"
**Describe the bug**
Using the plugin in an app designed in landscape orientation.
This issue is there only for iOS.
If the camera is opened to scan a barcode while the mobile device is pointed down / pointed towards the ground, the camera is rotated to portrait orientation. After that it won't scan the barcode.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a flutter app that works

[2022-02-26 15:50] ParthBiyani commented on #269
I am also not able to use this plugin with Flutter v2.10.1.. Haven't tried on lower versions as of now..
A fix will be highly appreciated..

[2022-02-28 11:12] fede1295 commented on #269
Same issue for me... the plugin doesn't work on Flutter v2.10.2 but work on Flutter v.2.8.0.

[2022-03-04 23:38] ParthBiyani commented on #269
I was not able to use the plugin on Flutter v2.10.1.. As Mythar said that the plugin was working on Flutter v2.0.5, so I downgraded to the same by deleting all the flutter files. Then I experienced some issues and had to upgrade my Flutter again by downloading and extracting the new version files (this time to Flutter v2.10.2) and to my surprise, the Barcode Scanner worked.
I don't know what the p

[2022-03-07 17:11] farr64 opened #273 "Deprecated APIs and unchecked (or unsafe) operations"
I got these warnings:

[code]

To recompile with the recommended settings, I added this to `build.gradle`:

[code]

While at it, I also changed the SDK to 31 to get this `build.gradle`:

[code]

The resulting (much more explicit and much more helpful) report:

[code]

- - -

StackOverflow discussion of `android.hardware.Camera deprecated`, for instance:

[android.hardware.Camera deprecated](https:

[2022-03-08 03:53] alexprazeres commented on #269
Because of some of my Plugins, i have to use FlutterFragmentActivity instead of FlutterActivity.
I fixed mine with:
#128

[2022-03-09 07:55] pansitwattana commented on #247
any updates ? also got another crash

[code]

[2022-03-10 23:46] lahirunc opened #274 "Unable to run the scanner on Android"
**Describe the bug**
Empty Black screen but in iOS both QR and Barcode is read without an issue using below code.

**To Reproduce**
onPressed event inside an elevated button
[code]

**Screenshots**
![IMG_0030](https://user-images.githubusercontent.com/20990764/157774331-e19fd0dd-3ce2-4a93-9140-4bba772fc4a1.jpg)

**Smartphone (please complete the following information):**
 - Pixel 3
 - OS: 12

**Ad

[2022-03-11 08:57] Harbinguer commented on #265
I had the same problem when introducing the flutter_barcode_scanner dependency in my pubspec.yaml.

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring project ':flutter_barcode_scanner'.

     Required by:
         project :flutter_barcode_scanner

I can't find much documentation about it, so if anyone knows something I would greatly appreciate an answer.
T

[2022-03-11 08:59] Harbinguer commented on #265
I forgot to say that I am working on android, (where I am not supposed to have too many problems ...) both in an emulator and in a physical device and the problems are the same.

[2022-03-11 09:18] dusalex commented on #265
@Harbinguer You can look at the pull request I created (just above your post). Until it is integrated into a new release of the flutter_barcode_scanner package, you can either fork it yourself and apply the same change (you just need to replace jcenter() with mavenCentral() in the android/build.gradle file), or use my fork with this change built in:
https://github.com/SIVA-Health/flutter_barcode_s

[2022-03-11 09:34] Harbinguer commented on #265
Thank you, but that does not solve the problem since the current version of the gradle already has mavenCentral() and not jcenter()... I will continue looking for a solution to this.

[2022-03-11 09:46] dusalex commented on #265
@Harbinguer - I don't think so:
https://github.com/AmolGangadhare/flutter_barcode_scanner/blob/master/android/build.gradle
(still has jcenter() - or am I missing something?)

[2022-03-11 10:30] Harbinguer commented on #265
This is the build.gradle file of my project, which already has mavenCentral by default...
I have tried to change to jcenter but the gradle itself already says that it is not advisable to use it.
I'm trying to check the pubspec.yaml and flutter_barcode_scanner.iml files of your code to see if I can fix anything.

buildscript {
    ext.kotlin_version = '1.6.10'
    repositories {
        google()

[2022-03-11 10:34] Harbinguer commented on #265
I'm going to start the project from scratch to see if my problem comes from somewhere else, I'll write you with the possible solution as soon as I have it. Thanks again ;)

[2022-03-11 10:34] dusalex commented on #265
@Harbinguer - your build.grade file is used for your own parts of the code. If you integrate a package, the package's build.gradle will be used for building the package code. That's why changing your own build.gradle does not help - and you should definitely keep it on mavenCentral().

To make also the package use mavenCentral() you need to modify the package, which is what I did in my fork.

[2022-03-11 10:36] dusalex commented on #265
If you want to try it, you can just put this in you pubspec.yaml instead of the regular entry for the package:

[code]

[2022-03-23 10:04] justjew commented on #274
Add # to color
#FF0000

[2022-03-25 02:32] rodolfowf opened #275 "FlutterBarcodeScanner.dismiss(); does not work"
First, thanks for an awesome plugin.

I'd like know how I can to use FlutterBarcodeScanner.dismiss();.

For example, this code don't work. Am I missing something ?

`FlutterBarcodeScanner.getBarcodeStreamReceiver(
      #ff6666,
      Cancel,
      true,
      ScanMode.DEFAULT
  )?.listen((barcode) async {

    var r = await saveCollectQtd(barcode, qtdInfo); // return true or false

    if (r == f

[2022-03-25 05:41] ixre commented on #128
remove  `android:name=""` of android node to fix it.

[2022-03-25 17:16] farr64 commented on #128
Which specific file of "android node" do you mean?

Thanks.

[2022-03-29 04:06] lahirunc commented on #274
This worked! Thanks

[2022-03-29 04:06] #274 closed, assigned to nobody

[2022-03-29 10:56] nayanabhatm opened #276 "Please provide an option to fix the orientation for the Scanner"
There should be an option to specify the orientation(portrait or landscape) for Scanner. Currently, it depends on the device's rotation, and fixing the orientation for the Flutter app does not apply to the Scanner plugin.

[2022-04-02 10:43] nohkumado opened #277 "linux and web support"
**Is your feature request related to a problem? Please describe.**
i run my flutter apps not only on android but also on linux desktop and when everything fails as webapp.
the previous lib i was using (https://pub.dev/packages/barcode_scan) even if not advertising it, was running also on linux and web,
but it was discontinued... so somehow there seems to be a sort of universal way to open a webcam

[2022-04-09 06:00] a371057600 commented on #56
I have exactly the same problem as you. Can I fix it by removing this plug-in?

[2022-04-10 09:07] ebraamboshra1 commented on #247
any update?

`com.amolg.flutterbarcodescanner.FlutterBarcodeScannerPlugin.onActivityResult (FlutterBarcodeScannerPlugin.java:28)
io.flutter.embedding.engine.FlutterEngineConnectionRegistry$FlutterEngineActivityPluginBinding.onActivityResult (FlutterEngineConnectionRegistry.java:25)
io.flutter.embedding.engine.FlutterEngineConnectionRegistry.onActivityResult (FlutterEngineConnectionRegistry.java:20

[2022-04-10 09:07] ebraamboshra1 commented on #247
any update?

[2022-04-14 00:19] jarrett-m commented on #28
It should be noted that you need to open your project via the ios/Runner.xcworkspace and NOT the ios/Runner.xcodeproj, I was having this issue and it was because I was running the xcodeproj and not the xcworksapce...

[2022-04-17 12:10] jaymin2609 commented on #167
After downloading the app from the play store, I am facing the same issue.

[2022-04-18 09:36] stevenBang commented on #109
I have this problem too,
Any news on this issue please?

[2022-04-18 18:36] nicolasvahidzein commented on #109
This has been going on for way too long, i hope we can resolve this in 2022.

[2022-04-19 22:58] Arcttyx commented on #258
I need to hide the front camera button as well, please how can I do it?

[2022-04-20 09:46] yutaToba1008 commented on #152
I have the same Xcode problem when I try Archive.
flutter clean > flutter pub get > pod install
I did, but I still have this error and No Archive in Organizer

<img width="767" alt="スクリーンショット 2022-04-20 18 43 45" src="https://user-images.githubusercontent.com/67790604/164200637-aaae2b6d-3741-44c9-9e5b-4cd1132d4166.png">

[2022-04-21 15:07] ibadaboom opened #279 "Add title / header support"
Is it possible, that you are going to add a property for adding a title or custom header to the scanners view?
Or is it even possible yet, to show something over the widget?

[2022-04-21 20:18] JacoFourie opened #280 "The library will not work on Huawei phones"
We all know that  Huawei phones have been banned from using Google services. As this lib uses Google services it won't work on  Huawei phones. Is there a way to make it work on these devices?

[2022-04-24 04:25] krish-dev-7 commented on #46
how to hide camera switching option?

[2022-04-26 22:03] cgilleeny opened #281 "Duplicate Resources"
Fails during the 'Task:app:mergeDebugResources' of the 'flutter run' terminal command.

**To Reproduce**
Steps to reproduce the behavior:
flutter pub add flutter_barcode_scanner
results in flutter_barcode_scanner: ^2.0.0 in project pubspec.yaml
flutter run (fails)

![Screen Shot 2022-04-26 at 3 02 52 PM](https://user-images.githubusercontent.com/10999941/165399923-7016cc1a-9183-47f7-892e-fb2b59be5

[2022-04-27 10:32] wishwelloklu commented on #261
Where can I find this file, FlutterBarcodeScannerPlugin.java please

[2022-05-09 18:17] paulewetzel commented on #276
I need the same feature. Barcodes are not always displayed horizontally, which renders the scanner useless in such cases.

[2022-05-13 09:06] 549064368 opened #282 "If IOS scans the barcode, there will be an extra 0"
![image](https://user-images.githubusercontent.com/37061607/168250588-b8cd0654-5148-4618-a848-b31b242264da.png)

[2022-05-13 12:23] kishorems opened #283 "MissingPluginException(No implementation found for method scanBarcode on channel flutter_barcode_scanner) || PlatformException(no_fragment_activity, local_auth plugin requires activity to be a FragmentActivity., null, null)"
The mobile app uses the local_auth plugin for biometrics and now recently integrated bar code scanner plugin which gives the exception1 below

**Exception1 **
Unhandled Exception: MissingPluginException(No implementation found for method scanBarcode on channel flutter_barcode_scanner)

The issue is resolved using the suggestions made at the [link](https://github.com/AmolGangadhare/flutter_barcode_

[2022-05-24 03:25] sahooz commented on #28
It works for me

[2022-05-24 13:50] fede1295 commented on #283
Same issue for me, local_auth and flutter_barcode_scanner right now they are incompatible..

@AmolGangadhare Could you please accept this pull request:
https://github.com/AmolGangadhare/flutter_barcode_scanner/pull/211
 and release an update?

[2022-05-27 15:04] cinthiadutra commented on #283
@AmolGangadhare any news about this fix?

[2022-06-06 07:48] stevenBang commented on #109
@nicolasvahidzein
@iscorporacion
I found the answer, I need to modify the android source code
**CameraSource.java**
Look for the selectSizePair method
[code]

[2022-06-06 12:22] Ikpambese opened #284 "Attempt to invoke interface method 'void io.flutter.plugin.common.EventChannel$EventSink.success(java.lang.Object)' on a null object reference"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the foll

[2022-06-06 12:24] Ikpambese commented on #284
this happens whenever i cancel scanning , it does not return to default

[2022-06-06 15:17] nicolasvahidzein commented on #109
Wonderful news, can we implement this on our own or you will release an update?

If we should implement it can you give us detailed instructions on how to do it?

[2022-06-06 22:43] ondine93 commented on #109
It works, but you need to set getOptimalPreviewSize as static too.
I've forked the repo with the fix. If you wanna try replace in the pubspec.yaml of your project
`flutter_barcode_scanner: ^2.0.0`
with
[code]

[2022-06-07 19:54] nicolasvahidzein commented on #109
@ondine93 thank you so much. I will do that until the owner merges your PR.

Excellent work team.

[2022-06-07 20:14] nicolasvahidzein commented on #109
Nope still not square aspect ratio @ondine93

[2022-06-07 21:04] ondine93 commented on #109
In which device are you testing?

[2022-06-08 05:12] nicolasvahidzein commented on #109
@ondine93 Samsung A20, it should not matter should it? It's an Android.

[2022-06-08 12:46] TheMeanCanEHdian commented on #109
~Confirmed that [ondine93](https://github.com/ondine93)'s changes worked in my testing.~

Edit: Initially I tested on a OnePlus 7T, I just tested on a Galaxy Fold 3, and it's actually still incorrect there (on both displays).

[2022-06-08 15:30] nicolasvahidzein commented on #109
I thought i was crazy, ok thank God. So what is the next step? What could possibly break this?

[2022-06-10 16:37] nicolasvahidzein commented on #109
Any luck in fixing it for all devices @ondine93 ?

[2022-06-12 10:07] l00ai commented on #283
Same issue for me,

[2022-06-14 10:03] PinkZanny opened #286 "Command PhaseScriptExecution failed with a nonzero exit code"
**Describe the bug**
I apologize if this issue has already been resolved on this thread, but I couldn't find any tickets. Basically I'm developing a simple barcode scanning app, with logic that will be implemented later, probably with firebase, I'm not entirely sure since I saw that this is exactly the same problem that many developers encounter using also firebase.

When I restart my Mac, or crea

[2022-06-19 04:08] BLACKCAT25896 commented on #283
same issue here

[2022-06-19 05:38] BLACKCAT25896 opened #287 "No implementation found for method scanBarcode on channel flutter_barcode_scanner"
Performing hot reload...
Syncing files to device RMX3231...
I/ActivityThread( 3867): smart_link is  not supported!!!
Reloaded 1 of 1641 libraries in 3,560ms.
D/IMGGralloc( 3867): Gralloc Register  w:720, h:1512, f:0x1, usage:0xb00, ui64Stamp:539727, sSize:4378624, line = 2335
D/IMGGralloc( 3867): Gralloc Register  w:720, h:1600, f:0x1, usage:0xb00, ui64Stamp:539729, sSize:4608000, line = 2335
D/IM

[2022-06-24 12:45] bernardoveras commented on #287
Hi, usually this error occurs when you install a dependency that makes some kind of connection with the android api.

Run the commands:

flutter clean
flutter pub get

[2022-06-26 15:32] s2yed opened #288 "flutter_barcode_scanner"
Because no versions of flutter_barcode_scanner match 2.0.0 and no versions of flutter_barcode_scanner match >2.0.0 <3.0.0, flutter_barcode_scanner ^2.0.0 is forbidden.
So, because ezee_click_report depends on flutter_barcode_scanner ^2.0.0, version solving failed.

because ezee_click_report depends on flutter_barcode_scanner ^2.0.0, version solving failed.

[2022-06-28 08:44] brand2021 opened #289 "Camera not opened for scan"
Found working in iPhone 11 but following case:
In my phone Redmi note 8 pro, after following code:
                String barcodeScanRes = await FlutterBarcodeScanner.scanBarcode(
                    'ff6666', 'CANCEL', true, ScanMode.BARCODE);

a grey screen opened rather camera scanner.

Result of on clicking that grey screen getting crashed application with following exception:
Exception dispat

[2022-06-30 03:55] OliveiraGusta commented on #289
EN:
MISSING THE #
The # is missing in the argument

'ff6666' - Missing a '#' causes an error.

The first argument of FlutterBarcodeScanner.scanBarcode( ) is a String(Hex color value with a '**#**' replacing '0x').

Example:
`String bardeScanRes = await FlutterBarcodeScanner.scanBarcode(
'#FF6666', 'CANCEL', true, ScanMode.BARCODE);`

I hope I was helpfull

PT-BR:
FALTA O #
Está faltando o # no arg

[2022-07-08 09:31] ali-kara commented on #120
That was solved my problem. Thanks

[2022-07-09 19:46] mhmdqds commented on #281
<resources>

</resources>

[2022-07-09 19:47] mhmdqds commented on #281
<resources>

</resources>

[2022-07-09 19:47] mhmdqds commented on #281
delete
(<dimen name="activity_horizontal_margin">64dp</dimen>)

[2022-07-09 19:48] mhmdqds commented on #281
delete raw 3

[2022-07-09 20:15] mhmdqds commented on #281
only delete row number 3 from file
flutter\.pub-cache\hosted\pub.dartlang.org\flutter_barcode_scanner-2.0.0\android\src\main\res\values-w820dp\dimens.xml

[2022-07-11 09:04] brand2021 commented on #289
Working with above implementation. Thanks.

[2022-07-11 09:04] #289 closed, assigned to nobody

[2022-07-19 12:04] edufolly commented on #135
Try to enable multidex:

`flutter run --multidex` or `flutter build --multidex`

[2022-07-22 14:10] gfb-47 commented on #247
Same issue here

[2022-07-26 09:02] saklanmazozgur opened #291 "Ability to resize the scan area and add the zoom feature"
Hello,

First of all, thank you for the project. As I mentioned in the topic title, can you add the ability to enlarge, reduce and zoom the scanning area?

[2022-07-29 22:30] halmoussa commented on #275
I do not even see this function anymore!

[2022-08-06 07:00] tksoh commented on #253
I just ran into this issue with plugin v2.0.0. However, in my case, the problem happens on Code 128 format. Not issue with Code 93 format. Unfortunately, we have committed to Code 128, so I really hope to see a fix.

Saw the issue with Android 11 and 9.

TIA

[2022-08-11 04:27] theVatsal3802 opened #293 "On Pressing Cancel, the code throws error"
When the cancel button is pressed to cancel the scanning of the barcode, it throws an error even when the following code is to be executed only when the result of the scan is not empty.

[2022-08-16 10:23] john-smith-rk commented on #291
I wanna also ask this question ? Could we reduce and zoom the scanning area?

[2022-08-26 07:18] ruchdir commented on #119
I also found the problem on Galaxy Tab A with Android 9

flutter_barcode_scanner: ^2.0.0

[2022-08-29 08:06] dr0-dev opened #294 "java.lang.NullPointerException: Attempt to invoke virtual method 'void androidx.lifecycle.i.c(androidx.lifecycle.o)' on a null object reference"
Randomly, on some Android device, I get the stacktrace from the title:

[code]

OS: Android

Some models where it happened:

SM-T550 - Android 7.1.1
Redmi Note 8 Pro - Android 11
Nexus 5X - Android 6.0.1
ASUS_X008D - Android 7.0

[2022-09-11 16:33] chavdardonchev opened #295 "Android only - different result with Debug and Release"
If I **run** the app on an Android phone (Debug mode), I have to tap once on the scanning area to start the camera, which is unexpected, but after that it scans the code.

If I **build an APK** (Release mode) and install the APK on a phone, the scanning starts immediately, but it never detects any code.

On iPhone there's no difference if I run the app in Debug or I build, upload and install it fr

[2022-09-14 20:29] ldementhon opened #296 "Barcode needs to be rotated 90 degrees to scan on iOS 16"
**Describe the bug**
With the iOS 16 update, it seems the barcode scanner will only read barcodes if they are rotated 90 degrees to how the animation leads me to expect it will be scanned. This is new behavior with iOS 16, as testing on iOS 15 works flawlessly.

**To Reproduce**
Steps to reproduce the behavior:
1. Hold barcode inside of scan area with the barcode lines perpendicular to the scannin

[2022-09-23 07:38] lailai0715 commented on #296
Same issue here on iOS 16 real device

[2022-09-23 18:24] BadihBaz commented on #296
Same with me. Same problem. Also when building my project with xcode on real ios 16, I am receiving a message that AVCaptureSession should be called from background thread

[2022-09-27 21:44] TahaMsv commented on #144
Same here.

[2022-09-28 00:34] nibiru2O12 commented on #291
can this be done? only scan on specified area. the UI shows a scanning area but i guess it's just for show as the barcode is still scanned after getting on the camera's point of view without actually entering the scanning area as shown in UI.

If we can set the size of scanning area (actual scanning area) then we can control the sensitivity/accuracy of the scan.

[2022-10-05 01:33] masanggil1986 opened #297 "Scanning can only be done from a distance (iPhone 14)"
**Describe the bug**
Scanning can only be done from a distance (iPhone 14)

**Expected behavior**
Able to scan when the camera is close to the barcode.

**Smartphone (please complete the following information):**
 - Device: iPhone14
 - OS: iOS16.0.2
 - Version 2.0.0

**Additional context**
Often other barcodes around the target are scanned instead.

[2022-10-08 09:23] #145 closed

[2022-10-11 04:40] parmarjitesh opened #298 "is this Plugin Maintained ?"
Hi Amol,
Your Package is very important for people like who uses Flutter For Mobile Development
I Don't Have Any Idea About Native Android / IOS Development
First Timer in Mobile App Development and Flutter is my Platform

Request You to Maintain the Package and Fix the Bugs would be a great favor on None-Native Developers

Thank You

[2022-10-12 12:56] 12people opened #299 "Get rid of GMS dependency"
**Is your feature request related to a problem? Please describe.**
Not all Android devices come with Google Services support and some open-source app repositories strictly prohibit integrating proprietary packages like it.

**Describe the solution you'd like**
It'd be great if this package could get rid of its dependency on Google Play services — specifically `'com.google.android.gms:play-services

[2022-10-13 04:43] parmarjitesh commented on #298
@AmolGangadhare Any Update ?

[2022-10-24 07:01] BjWe commented on #299
i don't think it can be done that easily. the camera handling, logic of detecting bar- and qr-codes is in that package. removing this dependency is like taking the engine out of the car.

[2022-10-24 20:25] macik1423 commented on #291
I also noticed that the scanning area is larger than the one shown in camera mode (a medium rectangle with a red line). My scan focuses on the entire possible area of the camera and it is annoying when the barcodes are close together. It would be great if we could set the area where the scanning really works.

[2022-10-25 09:05] nicparmee commented on #249
I think this should just be a temporary fix as some packages need FlutterFragmentActivity

[2022-10-25 11:31] shobith10 commented on #297
i could even take build on iphone,
Library not loaded: @rpath/libswiftCore.dylib Referenced from: <7C4412C7-2C11-35E5-A41F-20CCB7007BE7>
i have tried different packages, nothing works proper

[2022-10-26 05:20] shobith10 commented on #28
for one project it worked perfectly and for another project its not working

[2022-10-28 12:20] Dalakoti07 commented on #223
@AlexsandroZanella2 can you tell which kotlin version and gradle version?

I am using kotlin version as `1.7.10`

and android gradle version as `4.1.0`

and gradle version in gradle-wrapper-properties as `7.4`

and flutter version as `3.3.4 `

and I am still getting this crash

`java.lang.IllegalAccessError: Illegal class access: 'androidx.appcompat.widget.ContentFrameLayout' attempting to access

[2022-10-29 03:53] Farial-mahmod commented on #115
@AmolGangadhare , any update on how to redirect to another screen after streaming is done (in Flutter)? I have tried several times to redirect after getting the values but the camera seems to forcefully stay on foreground .

[2022-10-29 03:57] Farial-mahmod opened #300 "Redirecting to new screen not allowed after scanning is complete"
Thanks for this wonderful plugin .

**Description**: After getting the value from streaming, redirecting to another screen to show that scanned value doesn't work.
Stops redirecting to another screen after streaming is done in Flutter) .
**Tried so far:** I have tried several times to redirect after getting the values but the camera seems to forcefully stay on foreground . Navigator redirect, GetX

[2022-11-02 02:21] fzyzcjy commented on #298
+1

[2022-11-04 02:57] hvannak opened #301 "Barcode Scan Got Wrong Value"
When I opened camera scan barcode sometime I got wrong code value and sometime I got correct code value. When I put my phone camera italic or shake hand I got wrong code. So how can we prevent this condition happen.

[2022-11-15 20:48] aditya-nahak commented on #296
Any updates on this?

[2022-11-15 20:55] ldementhon commented on #296
We ended up switching to mobile_scanner for our project: https://github.com/juliansteenbakker/mobile_scanner

It took more work to get it set up properly than `flutter_barcode_scanner`. `mobile_scanner` reads barcodes very fast and can have errors, so we had to make sure it returned the same result 5x in a row before accepting it. It also doesn't have the fancy scanning animation, but our end resu

[2022-11-15 21:11] aditya-nahak commented on #296
Okay, thank you.

[2022-11-16 06:41] aditya-nahak commented on #296
If anyone needs any help with this issue, I'm attaching some links for reference.

https://developer.apple.com/forums/thread/715055

You can use this: https://github.com/aditya-nahak/flutter_barcode_scanner.git

[2022-11-24 05:08] waseemsourcecode commented on #18
Hello I’m using your plugin and it works very well but there is one thing missing that’s is the auto closing it mean what if I want to wait for the result maybe for 10 sec and if it’s not found then I want to close the scanner but I’m unable to close it without pressing cancel button so can you fix that

[2022-11-24 15:42] mgoldp commented on #298
+2

[2022-11-24 15:45] mgoldp commented on #294
+1

[2022-11-26 23:12] tangyiyong commented on #207
It seems that they donnt have gms module. the flutter_barcode_scanner depends on GMS?

貌似是因为没有安装GMS？

[2022-11-28 05:11] tveseli commented on #296
same issue here after testing

[2022-11-30 22:42] BjWe commented on #298
+3